/* DROPDOWN MENU */

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 230px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  border-radius: 6px;
  overflow: hidden;
  top: 30px;
}

.dropdown-content a {
  color: #1f2933;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #f1f5f9;
}

.dropdown:hover .dropdown-content {
  display: block;
}
